# Python + project ignores
/.venv
/.simple_models_results.json
/results_df_*.csv
/cleaner_script.py
/CV_testing.py
/simple_models_results.json
/simple_models_plotter.py
/simple_models_testing.py
/*.csv
*.csv
/*.zip
/airbnbDataAnalysis.ipynb

# Ignore entire directories
/WordClouds_Combined/
/WordClouds15/
/ResultsClusterWC/
/graphs/
/analysis_results/

/sentimentAnalysisAirbnb.ipynb
/sentimentAnalysisHotels.ipynb
/sentimentAnalysisTripAdvisor.ipynb
/airbnbDataAnalysisLeaevOneOut.ipynb

!listings_amenities_cleaned.csv
!listings.csv

!/data/*