/data
/.venv
/.gitignore
/.simple_models_results.json
/results_df_*.csv
/cleaner_script.py
/CV_testing.py
/simple_models_results.json
/simple_models_plotter.py
/simple_models_testing.py
/*.csv
*.csv
/*.zip
/airbnbDataAnalysis.ipynb

/WordClouds_Combined/*
/WordClouds15/*
/ResultsClusterWC/*
/graphs/*
/analysis_results/*

/WordClouds_Combined/*.png
/WordClouds15/*.png
/ResultsClusterWC/*.png
/graphs/*.png
/analysis_results/*.png